
@{
	ViewBag.Title = "About";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<!-- Offcanvas Menu Begin -->
	<div class="offcanvas-menu-overlay"></div>
	<div class="offcanvas-menu-wrapper">
		<div class="offcanvas__widget">
			<a href="#"><i class="fa fa-cart-plus"></i></a>
			<a href="#" class="search-switch"><i class="fa fa-search"></i></a>
			<a href="#" class="primary-btn">Add Car</a>
		</div>
		<div class="offcanvas__logo">
			<a href="./index.html"><img src="~/Content/images/logo.png" alt=""></a>
		</div>
		<div id="mobile-menu-wrap"></div>
		<ul class="offcanvas__widget__add">
			<li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
			<li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
		</ul>
		<div class="offcanvas__phone__num">
			<i class="fa fa-phone"></i>
			<span>(+12) 345 678 910</span>
		</div>
		<div class="offcanvas__social">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-google"></i></a>
			<a href="#"><i class="fa fa-instagram"></i></a>
		</div>
	</div>
	<!-- Offcanvas Menu End -->
	<!-- Header Section Begin -->
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<ul class="header__top__widget">
							<li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
							<li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
						</ul>
					</div>
					<div class="col-lg-5">
						<div class="header__top__right">
							<div class="header__top__phone">
								<i class="fa fa-phone"></i>
								<span>(+12) 345 678 910</span>
							</div>
							<div class="header__top__social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<div class="header__logo">
						<a href="./index.html"><img src="~/Content/images/logo.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-10">
					<div class="header__nav">
						<nav class="header__menu">
							<ul>
								<li><a href="">@Html.ActionLink("Home", "Index", "Home")</a></li>
								<li><a href="">@Html.ActionLink("Cars", "Cars", "Home")</a></li>
								<li><a href="">@Html.ActionLink("Blog", "Blog", "Home")</a></li>
								<li>
									<a href="#">Pages</a>
									<ul class="dropdown">
										<li><a href="">@Html.ActionLink("About", "About", "Home")</a></li>
										<li><a href="">@Html.ActionLink("Car Details", "carDetails", "Home")</a></li>
										<li><a href="">@Html.ActionLink("Blog Details", "blogDetails", "Home")</a></li>
									</ul>
								</li>
								<li class="active"><a href="">@Html.ActionLink("About", "About", "Home")</a></li>
								<li><a href="">@Html.ActionLink("Contact", "Contact", "Home")</a></li>
							</ul>
						</nav>
						<div class="header__nav__widget">
							<div class="header__nav__widget__btn">
								<a href="#"><i class="fa fa-cart-plus"></i></a>
								<a href="#" class="search-switch"><i class="fa fa-search"></i></a>
							</div>
							<a href="#" class="primary-btn">Add Car</a>
						</div>
					</div>
				</div>
			</div>
			<div class="canvas__open">
				<span class="fa fa-bars"></span>
			</div>
		</div>
	</header>
	<!-- Header Section End -->
	<!-- Breadcrumb End -->
	<div class="breadcrumb-option set-bg" data-setbg="/Content/images/breadcrumb-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>About Us</h2>
						<div class="breadcrumb__links">
							<a href="./index.html"><i class="fa fa-home"></i> Home</a>
							<span>About Us</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Begin -->
	<!-- About Us Section Begin -->
	<section class="about spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title about-title">
						<h2>Wellcome To HVAC Auto Online <br />We Provide Everything You Need To A Car</h2>
						<p>
							First I will explain what contextual advertising is. Contextual advertising means the
							advertising of products on a website according to<br /> the content the page is displaying.
							For example if the content of a website was information on a Ford truck then the
							advertisements
						</p>
					</div>
				</div>
			</div>
			<div class="about__feature">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="about__feature__item">
							<img src="~/Content/images/about/af-1.png" alt="">
							<h5>Quality Assurance System</h5>
							<p>
								It seems though that some of the biggest problems with the internet advertising trends
								are the lack of
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="about__feature__item">
							<img src="~/Content/images/about/af-2.png" alt="">
							<h5>Accurate Testing Processes</h5>
							<p>
								Where do you register your complaints? How can you protest in any form against companies
								whose
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="about__feature__item">
							<img src="~/Content/images/about/af-3.png" alt="">
							<h5>Infrastructure Integration Technology</h5>
							<p>
								So in final analysis: it’s true, I hate peeping Toms, but if I had to choose, I’d take
								one any day over an
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="about__pic">
						<img src="~/Content/images/about/about-pic.jpg" alt="">
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="about__item">
						<h5>Our Mission</h5>
						<p>
							Now, I’m not like Robin, that weirdo from my cultural anthropology class; I think that
							advertising is something that has its place in our society; which for better or worse is
							structured along a marketplace economy. But, simply because I feel advertising has a right
							to exist, doesn’t mean that I like or agree with it, in its
						</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="about__item">
						<h5>Our Vision</h5>
						<p>
							Where do you register your complaints? How can you protest in any form against companies
							whose advertising techniques you don’t agree with? You don’t. And on another point of
							difference between traditional products and their advertising and those of the internet
							nature, simply ignoring internet advertising is
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About Us Section End -->
	<!-- Call Section Begin -->
	<section class="call spad set-bg" data-setbg="/Content/images/about/call-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6">
					<div class="call__text">
						<div class="section-title">
							<h2>Request A Call Back</h2>
							<p>
								Posters had been a very beneficial marketing tool because it had paved to deliver an
								effective message that conveyed customer’s
							</p>
						</div>
						<a href="#">Contact Us</a>
					</div>
				</div>
				<div class="col-lg-6 offset-lg-1 col-md-6">
					<form action="#" class="call__form">
						<div class="row">
							<div class="col-lg-6">
								<input type="text" placeholder="Name">
							</div>
							<div class="col-lg-6">
								<input type="text" placeholder="Email">
							</div>
							<div class="col-lg-6">
								<input type="text" placeholder="Phone">
							</div>
							<div class="col-lg-6">
								<select>
									<option value="">Choose Our Services</option>
									<option value="">Buy Cars</option>
									<option value="">Sell Cars</option>
									<option value="">Wash Cars</option>
								</select>
							</div>
						</div>
						<button type="submit" class="site-btn">Submit Now</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Call Section End -->
	<!-- Team Section Begin -->
	<section class="team spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title team-title">
						<span>Our Team</span>
						<h2>Meet Our Expert</h2>
					</div>
				</div>
			</div>
		
			
			@Html.Action("AllExperts","Experts");
		</div>
	</section>
	<!-- Team Section End -->
	<!-- Testimonial Section Begin -->
	<section class="testimonial spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title testimonial-title">
						<span>Testimonials</span>
						<h2>What People Say About Us</h2>
						<p>Our customers are our biggest supporters. What do they think of us? Lorem</p>
					</div>
				</div>
			</div>
			@Html.Action("AllComments", "SayAboutUs");

		</div>
	</section>
	<!-- Testimonial Section End -->
	<!-- Counter Begin -->
	<div class="counter spad set-bg" data-setbg="/Content/images/counter-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter__item">
						<h2 class="counter-num">1922</h2>
						<p>Vehicles Stock</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter__item">
						<h2 class="counter-num">1500</h2>
						<strong>+</strong>
						<p>Vehicles Sale</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter__item">
						<h2 class="counter-num">1922</h2>
						<p>Dealer Reviews</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter__item">
						<h2 class="counter-num">5100</h2>
						<p>Happy Clients</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Counter End -->
	<!-- Clients Begin -->
	<div class="clients spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title client-title">
						<span>Partner</span>
						<h2>Our Clients</h2>
					</div>
				</div>
			</div>
			@Html.Action("AllClient", "Client");

		</div>
	</div>
	<!-- Clients End -->


