@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}


	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<!-- Offcanvas Menu Begin -->
	<div class="offcanvas-menu-overlay"></div>
	<div class="offcanvas-menu-wrapper">
		<div class="offcanvas__widget">
			<a href="#"><i class="fa fa-cart-plus"></i></a>
			<a href="#" class="search-switch"><i class="fa fa-search"></i></a>
			<a href="#" class="primary-btn">Add Car</a>
		</div>
		<div class="offcanvas__logo">
			<a href="./index.html"><img src="~/Content/images/logo.png" alt=""></a>
		</div>
		<div id="mobile-menu-wrap"></div>
		<ul class="offcanvas__widget__add">
			<li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
			<li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
		</ul>
		<div class="offcanvas__phone__num">
			<i class="fa fa-phone"></i>
			<span>(+12) 345 678 910</span>
		</div>
		<div class="offcanvas__social">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-google"></i></a>
			<a href="#"><i class="fa fa-instagram"></i></a>
		</div>
	</div>
	<!-- Offcanvas Menu End -->
	<!-- Header Section Begin -->
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<ul class="header__top__widget">
							<li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
							<li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
						</ul>
					</div>
					<div class="col-lg-5">
						<div class="header__top__right">
							<div class="header__top__phone">
								<i class="fa fa-phone"></i>
								<span>(+12) 345 678 910</span>
							</div>
							<div class="header__top__social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<div class="header__logo">
						<a href="./index.html"><img src="~/Content/images/logo.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-10">
					<div class="header__nav">
						<nav class="header__menu">
							<ul>
								<li><a href="">@Html.ActionLink("Home", "Index", "Home")</a></li>
								<li class="active"><a href="./car.html">@Html.ActionLink("Cars", "Cars", "Home")</a></li>
								<li><a href="">@Html.ActionLink("Blog", "Blog", "Home")</a></li>
								<li>
									<a href="#">Pages</a>
									<ul class="dropdown">
										<li><a href="">@Html.ActionLink("About", "About", "Home") </a></li>
										<li><a href="">@Html.ActionLink("Car Details", "carDetails", "Home")</a></li>
										<li><a href="">@Html.ActionLink("Blog Details", "blogDetails", "Home")</a></li>
									</ul>
								</li>
								<li><a href="/Home/About">@Html.ActionLink("About", "About", "Home")</a></li>
								<li><a href="/Home/Contact">@Html.ActionLink("Contact", "Contact", "Home")</a></li>
							</ul>
						</nav>
						<div class="header__nav__widget">
							<div class="header__nav__widget__btn">
								<a href="#"><i class="fa fa-cart-plus"></i></a>
								<a href="#" class="search-switch"><i class="fa fa-search"></i></a>
							</div>
							<a href="#" class="primary-btn">Add Car</a>
						</div>
					</div>
				</div>
			</div>
			<div class="canvas__open">
				<span class="fa fa-bars"></span>
			</div>
		</div>
	</header>
	<!-- Header Section End -->
	<!-- Breadcrumb End -->
	<div class="breadcrumb-option set-bg" data-setbg="/Content/images/breadcrumb-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>Car Listing</h2>
						<div class="breadcrumb__links">
							<a href="./index.html"><i class="fa fa-home"></i> Home</a>
							<span>About</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Begin -->
	<!-- Car Section Begin -->
	<section class="car spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="car__sidebar">
						<div class="car__search">
							<h5>Car Search</h5>
							<form action="#">
								<input type="text" placeholder="Search...">
								<button type="submit"><i class="fa fa-search"></i></button>
							</form>
						</div>
						<div class="car__filter">
							<h5>Car Filter</h5>
							<form action="#">
								<select>
									<option data-display="Brand">Select Brand</option>
									<option value="">Acura</option>
									<option value="">Audi</option>
									<option value="">Bentley</option>
									<
									<option value="">BMW</option>
									<option value="">Bugatti</option>
								</select>
								<select>
									<option data-display="Model">Select Model</option>
									<option value="">Q3</option>
									<option value="">A4 </option>
									<option value="">AVENTADOR</option>
								</select>
								<select>
									<option value="">Body Style</option>
									<option value="">Option 1</option>
									<option value="">Option 2</option>
								</select>
								<select>
									<option value="">Condition</option>
									<option value="">First Hand</option>
									<option value="">Second Hand</option>
								</select>
								<select>
									<option value="">Transmisson</option>
									<option value="">Bluetooth</option>
									<option value="">WiFi</option>
								</select>
								<select>
									<option value="">Mileage</option>
									<option value="">27</option>
									<option value="">20</option>
									<option value="">15</option>
									<option value="">10</option>
								</select>
								<select>
									<option value="">Engine</option>
									<option value="">BS3</option>
									<option value="">BS4</option>
									<option value="">BS5</option>
									<option value="">BS6</option>
								</select>
								<select>
									<option value="">Colors</option>
									<option value="">Red</option>
									<option value="">Blue</option>
									<option value="">Black</option>
									<option value="">Yellow</option>
								</select>
								<div class="filter-price">
									<p>Price:</p>
									<div class="price-range-wrap">
										<div class="filter-price-range"></div>
										<div class="range-slider">
											<div class="price-input">
												<input type="text" id="filterAmount">
											</div>
										</div>
									</div>
								</div>
								<div class="car__filter__btn">
									<button type="submit" class="site-btn">Reset FIlter</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="car__filter__option">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="car__filter__option__item">
									<h6>Show On Page</h6>
									<select>
										<option value="">9 Car</option>
										<option value="">15 Car</option>
										<option value="">20 Car</option>
									</select>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="car__filter__option__item car__filter__option__item--right">
									<h6>Sort By</h6>
									<select>
										<option value="">Price: Highest Fist</option>
										<option value="">Price: Lowest Fist</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					@Html.Action("AllCars", "Cars");

					<div class="pagination__option">
						<a href="#" class="active">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#"><span class="arrow_carrot-2right"></span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Car Section End -->
